@import '../variables';
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 2vh 0;
  font-family: $font-family-sans-serif;
  background-color: $background-color;
  color: $primary-color;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: $dark-color;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.wrapper {
  display: grid;
  grid-gap: 1px;
  color: $secondary-color;
  background-color: $tertiary-color;
  overflow-x: auto;
  max-width: calc(100% - 4rem);
  margin:auto;
}

/* Bloque Header */
.header {
  background-color: $primary-color;
  padding: 20px;
  text-align: center;

  &__title {
    margin: 0;
  }

  &__nav {
    padding: 10px 0;
    .nav__list {
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      .nav__item {
        cursor: pointer;
        transition: background-color 0.3s;
        &:last-child {
          margin-right: 0;
        }
        .nav__link {
          color: $light-color;
          text-decoration: none;
          display: inline-block;
          padding: $spacing;
          transition: color 0.3s;
          .link__text{
            margin-left: 5px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mqMinWidth) {
    &__nav {
      .nav__list {
        flex-direction: column;
        .nav__item {
          padding: $spacing;
          text-align: center;
          .link__text {
            display: none;
          }
        }
      }
    }
  }
}

/* Bloque Footer */
.footer {
  background-color: $primary-color;
  color:$secondary-color;
  padding: 10px 0;
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

/* Bloque section */
section{
  border-radius: 2rem;
  font-size:calc(10px + 0.6vw);
  padding: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  span {
    margin-left: 5px;
  }
  p {
    margin: 0 auto;
  }
}
section:nth-child(even) {
  background-color: $info-color;
}

section:nth-child(odd) {
  background-color: $primary-color;
  color:$light-color;
}

/* Bloque Gallery */

.gallery {
  text-align: center;

  &__title {
      margin-bottom: 20px;
  }

  &__content {
      margin-bottom: 30px;
  }

  &__carousel {
      display: flex;
      justify-content: center;
      align-items: center;

      &-item {
          margin-right: 10px;

          &:last-child {
              margin-right: 0;
          }

          img {
              max-width: 400px;
              height: auto;
              border-radius: 8px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              transition: transform 0.3s ease;

              &:hover {
                  transform: scale(1.05);
                  border: 2px solid #000;
              }
          }

      }
  }
}
@media screen and (max-width: 767px) {
  .gallery__carousel {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .gallery__carousel-item {
      margin-bottom: 20px;
  }
}