<header class="header">
    <!-- <h1 class="header__title">Welcome to New York</h1> -->
    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#about" class="nav__link"><i class="fas fa-home"></i><span class="link__text">About</span></a></li>
            <li class="nav__item"><a href="#attractions" class="nav__link"><i class="fas fa-map-marker-alt"></i></i><span class="link__text">Attractions</span></a></li>
            <li class="nav__item"><a href="#gallery" class="nav__link"><i class="fas fa-images"></i><span class="link__text">Gallery</span></a></li>
            <li class="nav__item"><a href="#contact" class="nav__link"><i class="fas fa-envelope"></i><span class="link__text">Contact</span></a></li>
        </ul>
    </nav>
</header>