<header class="header">
    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#about" class="nav__link"
                    ><i class="fas fa-home" aria-hidden="true"></i
                    ><span class="link__text">Sobre Nueva York</span></a
                >
            </li>
            <li class="nav__item">
                <a href="#attractions" class="nav__link"
                    ><i class="fas fa-map-marker-alt" aria-hidden="true"></i
                    ><span class="link__text">Reclamos turisticos</span></a
                >
            </li>
            <li class="nav__item">
                <a href="#gallery" class="nav__link"
                    ><i class="fas fa-images" aria-hidden="true"></i
                    ><span class="link__text">Galeria de imagenes</span></a
                >
            </li>
            <li class="nav__item">
                <a href="" class="nav__link"
                    ><i class="fas fa-envelope" aria-hidden="true"></i
                    ><span class="link__text">Contacto</span></a
                >
            </li>
        </ul>
    </nav>
</header>
